li {
  list-style: none;


  margin:auto;
  text-align:center;
}


li.status{
  display: inline-block;
}
#header{
  position: absolute;
  right: 10%;
  top: 5%
}
h1 {
  text-align: center;
  margin-top: 15%;
}

#take-quiz{
  display: block;
  margin: auto;

}

.question-page{
  border: 2px black solid;

}
.question{
  margin: auto;
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid black;

}
.answer{
  margin: auto;
  width: 400px;
  height: 50px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.answer-page{
  border: 2px solid black;
}
.right-or-wrong{
  margin: auto;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 5px;
}
.next-question{
  margin-left:auto;
  margin-right: auto;
  width: 300px;
  height: 50px;
  border: 1px solid black;

}

.result-page{
  border: 2px solid black;
}

.result-page p{
  text-align:center;
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border: 1px solid black;
  margin-bottom:50px;
}
#take-again {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}